<!DOCTYPE html>
<html>

<head>
    <title>Meme Space Web</title>
    <link rel="shortcut icon" type="image" href="images/logo.jpg">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="meme.css">

    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <style>
        * {
            background-image: url('https://mocah.org/thumbs/5373750-star-sky-night-dark-purple-pattern-repetition-background-planet-twinkle-lost-wander-ponder-time-space-evening-cosmo-creative-commons-images.jpg');
        }
    </style>
</head>

<body></body>
<header>

    <nav>
        <div class="brand">
            <a href="#">
                <img style="width: 250px; height: 150px;" src="logo.jpeg" alt="">
            </a>
        </div>
        <div class="nav-right">
            <div class="nav-links">
                <a href="spacewebsite.html" class="active">HOME</a>
                <a href="login.ejs">SIGN IN</a>
                <a href="spacewebsite.html">ABOUT</a>
                <a href="spaceshop.html">SHOP</a>
            </div>

        </div>
    </nav>

    <div class="wrapper">
        <section class="navbar bg-black">
            <h1 class="text-light">MEME <span class="font-weight-bold text-danger">SPACE</span></h1>
        </section>
        <section class="banner bg-black">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 align-self-center" data-aos="fade-up" data-aos-duration="3000" data-aos-offset="300">
                        <img src="https://i.imgflip.com/42t77.jpg" class="text-muted" data-aos="fade-down" data-aos-duration="3000" data-aos-offset="300">
                        <p class="display-3 text-success"><span class="font-weight-bold">MEOW</span></p>
                        <img src="https://i.chzbgr.com/full/3020671744/hA2D3F7C9/door-to-door-salesmen">
                        <br><a href="https://www.memedroid.com/memes/tag/space" class="btn-lg btn-success">Memedroid</a></br>
                    </div>
                    <div class="col-md-6">
                        <img src="https://pics.onsizzle.com/space-science-69175686.png" class="img-fluid mx-auto d-block" width="400" data-aos="fade-down" data-aos-duration="1500">
                    </div>
                </div>
            </div>
        </section>
        <section class="team bg-black">
            <div class="container">
                <h1 class="text-light display-4" data-aos="fade-down" data-aos-duration="3000" data-aos-offset="300"><span class="font-weight-bold">Classic</span></h1>
                <img src="https://scontent.fbom45-1.fna.fbcdn.net/v/t1.6435-9/120425970_3613564985323353_6914853702561909239_n.jpg?_nc_cat=101&ccb=1-5&_nc_sid=e3f864&_nc_ohc=nmr_0_7tp10AX-EgdDt&_nc_ht=scontent.fbom45-1.fna&oh=00_AT_HbbJHR58j13_Ri788TxELdFJiQOOzprqou6TGgoVwRw&oe=625E4264"
                    height="300px" class="text-muted" data-aos="fade-up" data-aos-duration="3000" data-aos-offset="300">

                <br>
                <div class="row">
                    <div class="col-md-4">
                        <div class="text-light display-4" data-aos="fade-right" data-aos-duration="3000" data-aos-offset="300">
                            <img src="https://static.boredpanda.com/blog/wp-content/uploads/2018/12/Screenshot_2-5c10fdaaca606__700.jpg" class="img-fluid mx-auto d-block">
                            <br>


                            </p>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="text-light display-4" data-aos="fade-up" data-aos-duration="3000" data-aos-offset="300">
                            <img src="https://static.boredpanda.com/blog/wp-content/uploads/2018/12/42934488_2205596082816151_4082194362753089536_n-5c11021008f22__700.jpg" class="img-fluid mx-auto d-block">

                            <br>

                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="text-light display-4" data-aos="fade-left" data-aos-duration="3000" data-aos-offset="300">
                            <img src="https://static.boredpanda.com/blog/wp-content/uploads/2018/12/Screenshot_5-5c1105e6dcb03__700.jpg" class="img-fluid mx-auto d-block">
                            <br>

                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="about bg-black">
            <div class="container">
                <div class="row">
                    <div class="col-md-6" data-aos="flip-left" data-aos-duration="3000" data-aos-offset="300">
                        <img src="https://static.boredpanda.com/blog/wp-content/uploads/2018/12/meme_1_line_700-5c1100587c4ce__700.jpg">

                    </div>
                    <div class="col-md-6 align-self-center" data-aos="flip-right" data-aos-duration="3000" data-aos-offset="300">
                        <img src="https://static.boredpanda.com/blog/wp-content/uploads/2018/12/FDSFSDFSDFSDF-5c151b1c48064__700.jpg" height="300px">
                    </div>
                </div>
                <br><br>

                <div class="row">
                    <div class="col-md-3 text-center" data-aos="fade-up" data-aos-duration="3000" data-aos-offset="300">
                        <img src="https://cdn.guff.com/site_2/media/33000/32024/items/a7f20f7d45ee9cbd6074ba2e.jpg">
                    </div>


                </div>
        </section>
</header>
<footer class="footer bg-black">
    <div class="container">
        <h1 class="text-light display-3" data-aos="flip-up" data-aos-duration="3000" data-aos-offset="300"> Out of the <span class="font-weight-bold"> World </span></h1>
        <br>
        <div class="row">
            <div class="col-md-6" data-aos="fade-left" data-aos-duration="3000">
                <img src="https://www.boredpanda.com/blog/wp-content/uploads/2018/12/fewfwe-5c112816c585a__700.jpg">
            </div>
        </div>
        <div class="col-md-6 align-self-center text-center" style="font-size: 20px;" data-aos="fade-up" data-aos-duration="3000">
            <p class="text-light">

            </p>
            <p class="text-light">
                Get HIGH on SARCASM!
            </p>
        </div>

    </div>
    </div>
</footer>

</div>
<!-- bootstrap js start -->
<script type="text/javascript" src="js/jquery-3.5.1.slim.min.js"></script>
<script type="text/javascript" src="js/bootstrap.min.js"></script>
<script type="text/javascript" src="js/popper.min.js"></script>
<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
<script>
    AOS.init();
</script>
</body>

</html>