<!DOCTYPE html>
<html lang="eng">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Spacepedia</title>

    <link rel="stylesheet" href="spacepedia.css" />
  </head>

  <body>
    <header class="header show">
      <div class="background"></div>
      <br />
      <center><a href="spacewebsite.html">HOME</a></center>
      <div class="header__inner">
        <div class="header__logo">
          <a href="">
            <img src="spacelogo1.png" alt="SpaceStruck" />
          </a>
        </div>

        <button class="hamburger hamburger--emphatic" type="button"></button>
      </div>
    </header>

    <section class="mission__container">
      <div class="background one"></div>

      <div class="bottom__content">
        <h1 class="bottom__content__header">
          <b>Wild theories about the universe </b>
        </h1>

        <p style="font-size: medium" class="bottom__content__header">
          Why is the universe the way it is? Over the years, scientists have
          explored many ideas to explain our cosmos and its future.
        </p>
      </div>
    </section>

    <section class="mission__container">
      <div class="background two"></div>

      <div class="bottom__content">
        <h1 class="bottom__content__header">Superfluid space-time</h1>
        <p style="font-size: medium" class="bottom__content__subheader">
          The theory visualizes space-time as a superfluid having zero
          viscosity. An odd property of such fluids is that they can't be made
          to rotate in a wholesale fashion, like an ordinary liquid does when
          you stir it. They break up into tiny vortices — which in the case of
          superfluid space-time, may be the seeds from which galaxies form.
        </p>

        <a
          class="content__button"
          href="https://www.insidescience.org/news/spacetime-may-be-slippery-fluid#:~:text=Physicists%20now%20suggest%20that%20spacetime,cosmos%20works%20in%20its%20entirety"
        >
          <span class="text">Read More</span>
          <div class="hover"></div>
        </a>
      </div>
    </section>

    <section class="mission__container">
      <div class="background three"></div>

      <div class="bottom__content">
        <h1 class="bottom__content__header">Cosmic Ego-Trip</h1>
        <p style="font-size: medium" class="bottom__content__subheader">
          The laws of physics involve a handful of fundamental constants that
          determine the strength of gravity, electromagnetism and subatomic
          forces. As far as we know, these numbers could have any possible value
          — but if they departed even slightly from the values they actually
          have, the universe would be a very different place. Most importantly
          for us, life as we know it — including, of course, ourselves —
          couldn't possibly exist. Some people see this as evidence that the
          universe was consciously designed in order for human-like life to
          evolve — the so-called self-centered anthropic theory.
        </p>

        <a
          class="content__button"
          href="https://medium.com/on-the-trail-of-the-saucers/our-ego-trip-in-the-cosmos-8265b55e3232"
        >
          <span class="text">Read More</span>
          <div class="hover"></div>
        </a>
      </div>
    </section>

    <section class="mission__container">
      <div class="background four"></div>

      <div class="bottom__content">
        <h1 class="bottom__content__header">Plasma-filled cosmos</h1>
        <p style="font-size: medium" class="bottom__content__subheader">
          The Big Bang remains the preferred theory of many scientists,
          supported by two key observations — the expansion of the universe and
          the cosmic microwave background (CMB). Immediately after the Big Bang,
          the universe was much smaller and hotter, filled with a glowing plasma
          like the sun. We still see the end of this super-hot phase in the form
          of a sea of radiation filling the whole of space.
        </p>
        <a
          class="content__button"
          href="https://www.plasma-universe.com/plasma-cosmology/"
        >
          <span class="text">Read More</span>
          <div class="hover"></div>
        </a>
      </div>
    </section>

    <section class="mission__container">
      <div class="background five"></div>

      <div class="bottom__content">
        <h1 class="bottom__content__header">Simulation theory</h1>
        <p style="font-size: medium" class="bottom__content__subheader">
          If all of the information about the universe comes into our brains via
          our senses and scientific instruments, who's to say it isn't all a
          cleverly designed illusion? The entire universe might be nothing but
          an ultra-sophisticated computer simulation. It's an idea that was
          popularized by the "Matrix" movies, but as outlandish as the idea
          sounds, some philosophers take it seriously. However, it fails the
          test of a true scientific theory, because there's no way it could be
          proved true or false.
        </p>

        <a
          class="content__button"
          href="https://builtin.com/hardware/simulation-theory"
        >
          <span class="text">Read More</span>
          <div class="hover"></div>
        </a>
      </div>
    </section>

    <script src="spacepedia.js"></script>
  </body>
</html>
