<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Spacex redesign</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/js/all.min.js"></script>
    <link rel="stylesheet" href="space_struck.css">
</head>

<body background="https://66.media.tumblr.com/20d0ead8f013e7e4181339ab424ede75/e6c368c91e4e720f-50/s540x810/42d1f43526295bf7bcc940c518e3e56e344a5f33.gif">
    <header>
        <nav>
            <div class="brand">
                <a href="#">
                    <img src="./img/logo.png" alt="">
                </a>
            </div>
            <div class="nav-right">
                <div class="nav-links">
                    <a href="#" class="active">Home</a>
                    <a href="#">About</a>
                    <a href="#">Updates</a>
                    <a href="#">Career</a>
                    <a href="#">Shop</a>
                </div>
                <div class="search">
                    <div>
                        <img src="./img/search.png" alt="">
                        <input type="text" placeholder="Search">
                    </div>
                </div>
            </div>
        </nav>
        <div class="cta container">
            <div class="left-section">

            </div>
            <div class="right-section">

            </div>
        </div>
        </section>
    </header>
    <section class="strip">
    </section>

    <section class="rocket container">
        <div class="left-block">
            <div class="block">

                <div class="right-block">

                </div>
                <div class="block payload">

                </div>
                <div class="block second-stage">

                </div>
                <div class="block capacity">


                    <div class="block capacity single">

                    </div>
                </div>
                <div class="block engines">

                </div>
                <div class="block marine">

                </div>
            </div>
    </section>
    <footer>
        <div class="container">
            <div class="copyright">
                <div>
                    <a href="#"><img class="footer-logo" src="./img/logo.png" alt=""></a>
                </div>
            </div>
            <div>
                <h1>About us</h1>
                <ul>
                    <li><a href="#">WHO WE ARE</a></li>
                    <li><a href="#">CONTACT US</a></li>
                    <li><a href="#">FAQs</a></li>
                    <li><a href="#">MISSIONS</a></li>
                    <li><a href="#">OTHER COMPANIES</a></li>
                </ul>
            </div>
            <div>
                <h1>Company</h1>
                <ul>
                    <li><a href="#">CAREERS</a></li>
                    <li><a href="#">LEGAL</a></li>
                    <li><a href="#">POLICY</a></li>
                    <li><a href="#">PRESS</a></li>
                    <li><a href="#">BLOG</a></li>
                </ul>
            </div>

</body>

</html>